.loader {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.loader__base,
.loader__arc {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.loader__arc {
  animation: loader-spin 0.9s linear infinite;
  transform-origin: center;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}
