.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  height: var(--spacing-8);
  padding: var(--spacing-3);
  border-radius: var(--radius-lg);
  border: 1px solid transparent;
  font-size: var(--font-size-base);
  font-weight: 700;
  line-height: var(--line-height-base);
  cursor: pointer;
  white-space: nowrap;
  width: fit-content;
  box-sizing: border-box;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  --button-icon-size: var(--spacing-4);
}

.button-split {
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.button--split-main {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button--secondary.button--split-main {
  border-right: none;
}

.button-split .button-splitter {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button:focus-visible {
  box-shadow: var(--shadow-focus-ring);
}

.button:disabled {
  cursor: not-allowed;
}

.button--primary {
  background-color: var(--color-primary-600);
  color: var(--color-primary-50);
}

.button--primary:hover:not(:disabled) {
  background-color: var(--color-primary-700);
}

.button--primary:disabled {
  background-color: var(--color-primary-200);
  color: var(--color-primary-400);
}

.button--secondary {
  background-color: var(--color-end-white);
  color: var(--color-fg);
  border-color: var(--color-neutral-200);
}

.button--secondary:hover:not(:disabled) {
  background-color: var(--color-end-white);
  border-color: var(--color-primary-600);
  color: var(--color-primary-700);
}

.button--secondary:disabled {
  background-color: var(--color-end-white);
  color: var(--color-neutral-400);
  border-color: var(--color-neutral-200);
}

.button--ghost {
  background-color: var(--color-end-white);
  color: var(--color-fg);
}

.button--ghost:hover:not(:disabled) {
  background-color: var(--color-end-white);
  color: var(--color-primary-700);
}

.button--ghost:disabled {
  color: var(--color-neutral-400);
}

.button--destructive {
  background-color: var(--color-accent-red-600);
  color: var(--color-accent-red-50);
}

.button--destructive:hover:not(:disabled) {
  background-color: var(--color-accent-red-700);
}

.button--destructive:disabled {
  background-color: var(--color-accent-red-200);
  color: var(--color-accent-red-400);
}

.button .button__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  --icon-color: inherit;
  width: var(--button-icon-size);
  height: var(--button-icon-size);
}
