.card {
  background-color: var(--color-bg);
  border: 1px solid var(--color-neutral-100);
  border-radius: var(--radius-2xl);
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  box-sizing: border-box;
  padding: var(--spacing-4) var(--spacing-6);
}
