.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: var(--color-bg);
    padding: 16px 24px;
    border: 1px solid var(--color-neutral-100);
    border-radius: 16px;
    box-shadow: var(--shadow-lg);
    position: relative;
    width: fit-content;
    max-width: 90%;
    max-height: 80%;
}

.modal--open {
    display: block;
}

.modal-title {
    font-size: var(--font-5);
    font-weight: bold;
    margin-bottom: var(--space-3);
}

.modal-content {
    font-size: var(--font-3);
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-fg-muted);
}
