.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.checkbox-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: var(--spacing-5);
  height: var(--spacing-5);
  border: 1px solid var(--color-neutral-400);
  border-radius: var(--radius);
  background-color: var(--color-bg);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0;
  padding: 0;
}

.checkbox:checked {
  background-color: var(--color-primary-600);
  border-color: var(--color-primary-600);
}


.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.checkbox-icon--tick {
  opacity: 0;
  --checkbox-tick-color: var(--color-primary-50);
}

.checkbox-icon--tick .icon {
  --icon-color: var(--checkbox-tick-color);
}

.checkbox:hover:not(:disabled):not(:checked) {
  border-color: var(--color-primary-600);
}

.checkbox:hover:not(:disabled):not(:checked) ~ .checkbox-icon--tick {
  opacity: 1;
  --checkbox-tick-color: var(--color-primary-600);
}

.checkbox:focus-visible {
  box-shadow: var(--shadow-focus-ring);
  border-color: var(--color-primary-600);
  outline: none;
}

.checkbox:focus-visible:not(:checked) ~ .checkbox-icon--tick {
  opacity: 1;
  --checkbox-tick-color: var(--color-primary-600);
}

.checkbox:checked ~ .checkbox-icon--tick {
  opacity: 1;
}

.checkbox:checked:hover:not(:disabled) {
  background-color: var(--color-primary-600);
  border-color: var(--color-primary-600);
}

.checkbox:disabled:checked ~ .checkbox-icon--tick {
  opacity: 0.5;
}

.checkbox:disabled {
  background-color: var(--color-bg);
  border-color: var(--color-neutral-200);
  cursor: not-allowed;
  opacity: 1;
}


.checkbox:disabled:checked {
  background-color: var(--color-primary-200);
  border-color: var(--color-primary-200);
}

.checkbox:disabled ~ .checkbox-icon--tick {
  opacity: 1;
  --checkbox-tick-color: var(--color-neutral-300);
}

.checkbox:disabled:checked ~ .checkbox-icon--tick {
  --checkbox-tick-color: var(--color-primary-50);
}

.checkbox:checked:hover:not(:disabled) ~ .checkbox-icon--tick {
  --checkbox-tick-color: var(--color-primary-50);
}

.checkbox-label {
  font-size: var(--font-size-sm);
  color: var(--color-neutral-900);
  cursor: pointer;
  line-height: var(--line-height-base);
}

.checkbox:disabled + .checkbox-label {
  color: var(--color-neutral-400);
  cursor: not-allowed;
}
