:root {
  font-family: var(--font-family-sans);
  line-height: var(--line-height-base);
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-fg);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

h1 {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-sm);
}

h2 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-sm);
}

h3 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-base);
}

h4 {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.bodyText {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
